# Environment Variables Example

# General settings
DEBUG=True
SECRET_KEY=your-secret-key

# Database settings
POSTGRES_USER=unisport
POSTGRES_PASSWORD=unisportpassword
POSTGRES_DB=unisportdb
POSTGRES_HOST=database
POSTGRES_PORT=5432

# Django settings
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1
